html {
    background: #333 url('/static/images/bg-texture-00.svg');
    color: #CCC;
}

body {
    overflow-y: scroll;
}

/* {{{ Navbar */
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    color: #333333;
}

.navbar .nav > .active > a {
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.navbar .brand,
.navbar .nav > li > a {
    color: #E2E4EF;
    border: 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar .brand:hover,
.navbar .nav > li > a:hover,
.navbar .brand:focus,
.navbar .nav > li > a:focus {
    color: #fff;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    background-color: transparent;
    color: #fff;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
    color: #fff;
    background-color: #4F5B93;
}

.navbar .navbar-search .search-query {
    background-color: #fff;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
}

.navbar .navbar-search .search-query:focus {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
}

.navbar .navbar-search .search-query:-moz-placeholder {
    color: #999;
}

.navbar .navbar-search .search-query:-ms-input-placeholder {
    color: #999;
}

.navbar .navbar-search .search-query::-webkit-input-placeholder {
    color: #999;
}

.navbar {
    border-color: #4F5B93;
    background: #8892BF;
    box-shadow: 0 .25em .25em rgba(0, 0, 0, .1);
}

.navbar .brand {
    color: #fff;
}

/*
 * Hyperlinks
 */

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*
 * Side Panels
 */

.r2-side-panel {
    margin-bottom: 1em;
}

.r2-side-panel-title {
    border-bottom: 3px solid #4F5B93;
    background-color: #8892BF;
    color: black;
    padding: 3px;
    padding-left: 5px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.r2-side-panel-contents {
    x-border: 1px solid #aaaaaa;
    border-top: none;
    background-color: #fafafa;
    padding: 0.5em;
}

.r2-outer {
    background-color: #ffffff;
    color: black;
}

.r2-inner {
    background-color: white;
}

.r2-cbox {
    background: #fafafa;
    padding: 10px;
    margin-bottom: 1em;
}

.r2-hover-gray-2 {
    background: #dddddd;
}

.r2-hover-gray-2:hover {
    background: #cccccc;
}

.r2-manual .methodsynopsis {
    padding: 1em;
    background: #eeeeee;
}

.r2-manual .phpcode {
    background: #F2F2F2;
    padding: 10px;
}

.r2-manual .type {
    color: #693;
}

.r2-manual .parameter {
    color: #369;
}

.r2-manual .initializer {
    color: #936;
}

.r2-manual .doctable {
    width: 100%;
}

.r2-manual .doctable thead tr {
    background-color: #8892BF;
}

.r2-manual .doctable tbody tr:nth-child(even) {
    background-color: #eeeeee;
}

.r2-manual .doctable tbody th {
    padding: 5px;
}

.r2-manual .doctable tbody td {
    padding: 5px;
}

section.r2-sec {
    margin-bottom: 2em;
    clear: both;
}

section.r2-sec > h2 {
    color: #4F5B93;
    font-weight: bold;
    margin: 10px 0 0px;
    border-bottom: 3px solid #4F5B93;
    padding: 0 0 0 0px;
}

section.r2-sec > div {
    padding: 0px;
    background: #ffffff;
    padding-top: 20px;

    /* SHA256 strings making a mockery of responsive design */
    word-wrap: break-word;
}

.r2-separated-sections section.r2-sec:not(:last-child):after {
    content: "";
    display: block;
    clear: both;
    border-bottom: 1px dotted #cccccc;
}

.r2-separated-sections {

}

.r2-separated-sections > section.r2-sec > h2 {

}

.r2-separated-sections section {
}

/*
 *
 * General Layout
 *
 */

h1 {
    padding-left: 0px;
    box-sizing: border-box;;
}


@media (min-width: 900px) {
    .r2-layout-width {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
    }

    .r2-layout-grid {
        display: grid;
        grid-template-columns: auto 330px;
        grid-column-gap: 1em;
    }
}


@media(max-width:1250px) {
    h1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .r2-inner-left {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 899px) {
    .r2-layout-width {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
    }

    .r2-layout-grid {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 100%;
        grid-column-gap: 0;
    }
}